* {
    font-family: 'Gaegu', cursive;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    background-color: #E5D9F2;
}

.container,
.main {
    background-color: #E05780;
    border-radius: 16px;
}

.container {
    margin-top: 15px;
    width: 400px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 350px;
    height: 475px;
    border: 2px solid #9D062C;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#display {
    background-color: #BFD7EA;
    color: #0A0F0D;
    border: 2px solid #AC204A;
    border-radius: 8px;
    font-size: 50px;
    text-align: right;
    padding: 10px;
    margin: 6px 0px 8px;
}

.buttons {
    display: flex;
    margin: 2px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.logo {
    font-size: 50px;
    text-align: left;
}

.clearbtn {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
}

#clear {
    width: 120px;
    font-size: 30px;
    padding: 6px;
    border-radius: 20px;
    background-color: #79ADDC;
    border: 3px solid #265F92;
    color: #153551;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}

.numbers button {
    font-size: 40px;
    width: 80px;
    height: 65px; 
    border-radius: 10px;
    border: 3px solid #9B1C42;
    text-align: center;
}

.numbers button:not(#decimal):not(#equals) {
    background-color: #EFA9BE;
    color: #561025;
}

#decimal {
    background-color: #F1E4E8;
}

#equals {
    background-color: #F6AE2D;
}

.right {
    margin-left: 8px;
}

.right button {
    width: 70px;
}

/* .right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.operator {
    height: 50px;
} */
