* {
    font-family: 'Gaegu', cursive;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    background-color: #E5D9F2;
}

.container,
.main {
    background-color: #E05780;
    border-radius: 16px;
}

.container {
    margin-top: 15px;
    width: 400px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 350px;
    height: 475px;
    border: 2px solid #9D062C;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#display {
    background-color: #FDD8E6;
    color: #0A0F0D;
    border: 2px solid #AC204A;
    border-radius: 10px;
    font-size: 50px;
    text-align: right;
    padding: 10px;
    margin: 6px 0px 8px;
}

.buttons {
    display: flex;
    margin: 2px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.logo {
    font-size: 40px;
    text-align: left;
    color: #340916;
}

.clearbtn {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
}

#clear {
    width: 150px;
    font-size: 30px;
    padding: 6px;
    border-radius: 20px;
    background-color: #58BC82;
    border: 3px solid #235839;
    color: #0C1D13;
}

#clear:active {
    background-color: #99D6B2;
}


.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}

.numbers button {
    font-size: 40px;
    width: 80px;
    height: 65px; 
    border-radius: 15px;
    border: 3px solid #9B1C42;
    text-align: center;
}

.numbers button:not(#decimal):not(#equals) {
    background-color: #EFA9BE;
    color: #561025;
}


.numbers button:not(#decimal):not(#equals):active {
    background-color: #F6CBD8;
}

#decimal {
    background-color: #F4D35E;
}

#decimal:active {
    background-color: #F9EBB4;
}

.plus,
.operator {
    background-color: #98D2EB;
}

#equals:active,
.operator:active {
    background-color: #CCE8F5;
}

.right {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.right button:first-child {
    margin-top: 6px;
}

.right button:not(.plus) {
    width: 70px;
}

button.plus {
    height: 150px;
}

#equals {
    background-color: #C39EFA;
    border: 3px solid #391A9E ;
    color: #21044E;
}

.right button {
    border: 3px solid #9B1C42;
    border-radius: 15px;
    font-size: 35px;
}

.operator {
    height: 55px;
}
